*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:where(.css-dev-only-do-not-override-1i536d8).ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected  {
    border-left: 5px solid #1677ff;
    background: none;
    margin-inline: 0px;
    background-color: none !important;
    border-radius: 0px;
}