*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.card{
    width: 100%;
    height: auto;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0px;
    padding-right: 0px;
}
.home-avatar{
    width: auto;
}
.home-searchbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
.home-search{
    text-align: center;
    width: 60%;
    
}
.homoe-select{
    margin: 0px 0px 0px 10px;
}

:where(.css-dev-only-do-not-override-1i536d8).ant-card .ant-card-body {
    padding: 24px;
    border-radius: 0 0 0px 0px;
    background-color: #f8f8f8;
    margin-top: 5px;
    color: black;
}
.search-result {
    background-color: #ffffff;
    list-style: none;
    text-align: left;
    padding: 10px;
    border-radius: 5px;
    /* position: absolute; */
    width: 96.4%;
    margin-right: auto;
    display: block;
    cursor: pointer;
}
:where(.css-dev-only-do-not-override-1i536d8).ant-card .ant-card-body {
    padding: 0px 24px 0px 24px;
    border-radius: 0px;
    background-color: #ffffff;
    margin-top: 7px;
    color: black;
}
:where(.css-dev-only-do-not-override-1i536d8).ant-card-bordered {
    border-radius: 0px;
}
:where(.css-dev-only-do-not-override-1i536d8).ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
    border-radius: 0px;
    border-left: 5px solid #1677ff;
    background: none;
    margin-inline: 0px;
}
:where(.css-dev-only-do-not-override-1i536d8).ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: none !important;
    border-radius: 0px;
}